<footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l7 s12">
          <h5 class="white-text">About</h5>
          <p class="grey-text text-lighten-4">Hi, I'm Rachel and this is my somewhat eclectic personal blog. It's my place to write about whatever I want, whenever I want. I also plan to (eventually) blog about learning web development at <a class="white-text" target="blank" href="http://www.rachelmfisher.com">www.rachelmfisher.com</a></p>


        </div>
        
        <div class="col l4 offset-l1  s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" target="_blank" href="https://github.com/{{ site.github_username }}">
              <i class="fab fa-github fa-2x"></i> Elenaltarien</a></li>
            <li><a class="white-text" href="mailto:{{ site.email }}">
                <i class="fa fa-envelope fa-2x" ></i> fisher.rachel.m@gmail.com</a></li>
            <li><a class="white-text" target="_blank" href="https://twitter.com/{{ site.twitter_username }}">
              <i class="fab fa-twitter fa-2x"></i> @RachelMFisher</a></li>
            
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made with <i class="fas fa-heart"></i> and <i class="fas fa-coffee"></i> by Rachel M Fisher.
      </div>
    </div>
  </footer>

<!-- JS -->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<script src="/js/init.js"></script>
