<div id="pager" class="container">
  <div class="row">
    
    <div class="col s6 left-align">
        {% if paginator.previous_page %}
        {% if paginator.page == 2 %}
          <a class="hide-on-small-only waves-effect waves-light btn pink lighten-1" href="{{ site.baseurl }}/"><i class="fas fa-arrow-left"></i> Newer posts</a>
          <a class="hide-on-med-and-up waves-effect waves-light btn pink lighten-1" href="{{ site.baseurl }}/"><i class="fas fa-arrow-left"></i> Newer </a>
        {% else %}
          <a class="hide-on-small-only waves-effect waves-light btn pink lighten-1" href="{{ site.baseurl }}/page{{paginator.previous_page}}/"><i class="fas fa-arrow-left"></i> Newer posts</a>
          <a class="hide-on-med-and-up waves-effect waves-light btn pink lighten-1" href="{{ site.baseurl }}/page{{paginator.previous_page}}/"><i class="fas fa-arrow-left"></i> Newer </a>
        {% endif %}
      {% else %}
        <a class="hide-on-small-only disabled btn"><i class="fas fa-arrow-left"></i> Newer posts</a>
        <a class="hide-on-med-and-up disabled btn"><i class="fas fa-arrow-left"></i> Newer </a>
      {% endif %}
    </div>
    <div class="col s6 right-align">
      {% if paginator.next_page %}
        <a class="hide-on-small-only waves-effect waves-light btn pink lighten-1" href="{{ site.baseurl }}/page{{paginator.next_page}}/">Older posts <i class="fas fa-arrow-right"></i></a>
        <a class="hide-on-med-and-up waves-effect waves-light btn pink lighten-1" href="{{ site.baseurl }}/page{{paginator.next_page}}/">Older <i class="fas fa-arrow-right"></i></a>
      {% else %}
        <a class="hide-on-small-only disabled btn">Older posts <i class="fas fa-arrow-right"></i></a>
        <a class="hide-on-med-and-up disabled btn">Older <i class="fas fa-arrow-right"></i></a>
      {% endif %}
    </div>
  </div> <!-- end row -->
</div> <!-- end container -->